.footer {
    background-color: #dc3545;
}

span {
    color: white;
}

.bi-twitter {
    color: white !important;
}

.bi-whatsapp {
    color: white !important;
}

.bi-facebook {
    color: white !important;
}

.bi-instagram {
    color: white !important;
}